 <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4">
          <form id="form_register" [formGroup]="registerForm" (ngSubmit)="submit()">
            <div class="form-outline mb-4 mt-5">
            <label class="form-label" for="email">NickName</label>
            <input type="text" formControlName="nickname"  class="form-control form-control-lg"
              placeholder="Choose a nickname" />
              <p class="text-danger" *ngIf="inputsValidos('nickname','required')=='is-invalid'"><strong>Nickname requerido</strong></p>  
              <p class="text-danger" *ngIf="inputsValidos('nickname','isInvalid')=='is-invalid'"><strong>Nickname ya existe</strong></p>  
              <div id="nickerror"></div>
              
            
          </div>
            
            <div class="form-outline mb-4">
            <label class="form-label"   for="email"> Email address</label>
              <input type="email" class="form-control form-control-lg"
                placeholder="Enter a valid email address"  formControlName="email"
                />
                <p class="text-danger" *ngIf="inputsValidos('email','required')=='is-invalid'"><strong>Email requerido</strong></p>  
                <p class="text-danger" *ngIf="inputsValidos('email','email')=='is-invalid'"><strong> Formato incorrecto</strong></p>  
                <div id="emailerror"></div>
            </div>
  
            
            <div class="form-outline mb-3">
            <label class="form-label" id="passwordLabel"  for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control form-control-lg"
                placeholder="Enter password"  formControlName="password"/>
             
            </div>
            <div class="form-outline mb-3">
            <label class="form-label" for="password2">Password</label>
              <input type="password" name="password2"  formControlName="password2" id="password2" class="form-control form-control-lg" 
                placeholder="Enter password" />
                <p *ngIf="passwordError">Las contraseñas deben ser iguales </p>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit"   [disabled]="registerForm.invalid"  class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
             
            </div>
          </form>
        </div>
      </div>
    </div>
  