<section class="vh-100 bg-light">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4">
          <form id="form_register" [formGroup]="registerForm" (ngSubmit)="submit()">
            <div class="form-outline mb-4 mt-5">
            <label class="form-label" for="email">NickName</label>
            <input type="text" formControlName="nickname"  class="form-control form-control-lg"
              placeholder="Choose a nickname" />
              <div id="nickerror"></div>
            
          </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
            <label class="form-label"   for="email"> Email address</label>
              <input type="email" class="form-control form-control-lg"
                placeholder="Enter a valid email address"  formControlName="email"/>
                <div id="emailerror"></div>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
            <label class="form-label" id="passwordLabel"  for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control form-control-lg"
                placeholder="Enter password"  formControlName="password"/>
             
            </div>
            <div class="form-outline mb-3">
            <label class="form-label" for="password2">Password</label>
              <input type="password" name="password2"  formControlName="password2" id="password2" class="form-control form-control-lg" 
                placeholder="Enter password" />
                <p *ngIf="passwordError">Las contraseñas deben ser iguales </p>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit"  class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                  class="link-danger">Register</a></p>
                  <p>{{registerForm.get("nickname")?.errors | json}}</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>