.mainContainer{
    display:flex;
    justify-content: center;
    flex-direction: row;
    background-color:  var(--bg-color);;
    margin:0 auto;
    padding:20px 24px;
}
.containerPosts{
    display: flex;
    flex-direction: column;
    width:640px;   
}
.textColor{
    color: var(--primary-text);
}
.divExt {
    display: flex;
    color: var(--primary-text);
    margin: 10px 0px 10px 0px;
    background-color: var(--bg-post);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    justify-content: center;
    max-width: 640px;
  }