<div class="mainContainer">
  <div class="containerPosts">
    <div class="d-flex justify-content-between">
      <h1 *ngIf="commName" class="textColor">{{ commName }}</h1>
      <div *ngIf="user">
        <button
          *ngIf="isAuthor && isLogged"
          (click)="deleteCommunity()"
          class="btn divExt">
          Delete community
        </button>
        <button
          *ngIf="followsComm != undefined && isLogged"
          class="btn divExt"
          (click)="followOrUnfollow()">
          {{ followsComm ? "Unfollow" : "Follow" }}
        </button>
      </div>
    </div>
    <ng-template [ngIf]="commName" [ngIfElse]="notcommunity">
      <ng-template [ngIf]="posts" [ngIfElse]="notpost">
        <app-posts
          *ngFor="let post of posts | searchpipe: filterText"
          [post]="post"
          (error)="getError($event)"
        ></app-posts>
      </ng-template>
      <ng-template #notpost>
        <button class="btn divExt w-100" [routerLink]="['/create_post']">
          Create a new post
        </button>
      </ng-template>
      <app-toast *ngIf="hasError" [errorMsg]="errorMsg"></app-toast>
    </ng-template>
    <ng-template #notcommunity>
      <button class="btn divExt w-100" [routerLink]="['/create_community']">
        Create a new community
      </button>
    </ng-template>
  </div>
</div>
