<div class="divExt">
  <app-vote [votes]="post?.votes" [community]="post?.community" [post]="post?.id" (sendError)="sendError($event)" ></app-vote>
  <div class="divPost">
    <a
      style="text-decoration: none; color: white"
      [routerLink]="['/communities',post?.community,'posts',post?.id]"
    
      ><div class="postAuthor">
        <h6>
          Posted by {{ post?.author }} in
          <a class="hrefStyle" 
          [routerLink]="['/communities/',post?.community]">
          {{
            post?.community
          }}</a>
        </h6>
      </div>
      <div class="postTitle">
        <h3 style="font-size: 1.17em">{{ post?.title }}</h3>
      </div>
      <div class="postBody">
        <img style="max-width: 100%" *ngIf="post?.type=='image'"  [src]="post?.file" />
          <video style="max-width: 100%"  controls *ngIf="post?.type=='video'"   [src]="post?.file" ></video>
      </div>
      <div id="divPostBottom" class="divCommentsBtn">
        <div class="divCommentsBtn">
          <i class="iconComment"></i><span>{{numberComments}} Comments</span>
        </div>
      </div></a>
  </div>
</div>
