.mainContainer{
    display:flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--bg-color);
    margin:0 auto;
    padding:20px 24px;
}
.containerPosts{
    display: flex;
    flex-direction: column;
    width:640px;   
}
.iconFire{
    content: url("/assets/fire.png");
    width: 30px;
    padding-right: 5px;
    height: 24px; 
}
.divIconFire{
    display: flex;
    align-items: center;
    justify-content: center;
}

