.spanDate{
    color:var(--secondary-text);
    margin-left: 3%;
  }
  .textColor{
    color:var(--primary-text);
  }
  .trashIcon{
    content: url("/assets/eliminar.png");
    width: 30px;
    padding-right: 5px;
    height: 24px; 
  }
  