<section class="vh-100 bg-light">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4">
          <form id="form_login" [formGroup]="loginForm" (ngSubmit)="submit()">
  
            <!-- Email input -->
            <div class="form-outline mb-4 mt-5">
              <input type="email" class="form-control form-control-lg"
                placeholder="Enter a valid email address" formControlName="email" [ngClass]="emailNotValid"  />
              <label class="form-label" for="form3Example3">Email address</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" class="form-control form-control-lg"
                placeholder="Enter password" formControlName="password"  />
              <label class="form-label" for="form3Example4">Password</label>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            </div>
  
          </form>
          <!--<p>{{loginForm.value | json}}</p>
          <p>{{loginForm.get("email")?.errors | json}}</p>-->
        </div>
      </div>
    </div>
  </section>
