<div class="wrapper">
  <header>
    <h1>New Post</h1>
  </header>

  <!--<div class="ways">
    <ul>
      <li class="active">submit</li>
      <li>discussion</li>
    </ul>
  </div>-->
<form>
  <div class="sections">
    <section class="active">
      <input type="text" placeholder="Title" id="title"  [(ngModel)]="titlePost" [ngModelOptions]="{standalone: true}" />
      <select id="category" class="box">
        <option  *ngFor="let community of communities" >{{community}}</option>
      </select>
    </section>

    <section>
      <input type="text" placeholder="Topic" id="topic" />
      <textarea placeholder="something..." id="msg"></textarea>
    </section>
</div>

  <select class="form-select" [(ngModel)]="selectedOption" [ngModelOptions]="{standalone: true}">
    <option hidden selected>Choose a community</option>
    <option  *ngFor="let community of communities" [ngValue]="community" >{{community}}</option>
  </select>
  
  <div class="mb-3">
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control"  (change)="getFile($event)" type="file" id="formFile">
  </div>
  <button (click)="submit()" >SUBMIT</button>
</form>
<app-toast *ngIf="hasError" [errorMsg]="errorMsg"></app-toast>

</div>
