<div class="mainContainer">
  <div class="containerPosts" *ngIf="post">
    <div class="divExt" >
      <!-- USING NGIF to delay the inicialization of vote components// EL ngIf detecta el canvi de la variable i ho enseña quan estiga carrega-->
      <!-- revisar //  if the post doesnt have any votes it wont show the vote options-->
      <app-vote    [votes]="post?.votes" [community]="idComm" [post]="id" (sendError)="getError($event)"></app-vote>
      <div class="divPost">
        <div class="postAuthor">
          <h6>
            Posted by {{ post?.author }} in
            <a class="hrefStyle" href="#/communities/{{post?.community}}">{{
              post?.community
            }}</a>
          </h6>
        </div>
        <div class="postTitle">
          <h3 style="font-size: 1.17em">{{ post?.title }}</h3>
        </div>
        <div class="postBody">
          
          <img style="max-width: 100%" *ngIf="post?.type=='image'"  [src]="post?.file" />
          <video style="max-width: 100%" controls *ngIf="post?.type=='video'"   [src]="post?.file" ></video>
        </div>
        <div id="divPostBottom" class="divCommentsBtn">
          <div class="divCommentsBtn">
            <i class="iconComment"></i><span>{{numberComments}} Comments</span>
          </div>
        </div>
      </div>
    </div>

      <div class="divComments" style="padding:10px" *ngIf="isLogged">
        <div>
          <form>
            <textarea class="commentTextArea" [(ngModel)]="comment" [ngModelOptions]="{standalone:true}" ></textarea>
          </form>
        </div>
        <button class="btn btn-primary"  style="margin-top: 1em;" (click)="newComment()">Comment</button>
      </div>

      <div *ngIf="comments != undefined" class="divComments">
        <app-comments
          *ngFor="let item of comments"
          [comments]="item"
        ></app-comments>
      </div>
  </div>
  <div *ngIf="!post">
    <p>THIS POST DOESNT EXIST</p>
  </div>
  <app-toast *ngIf="hasError" [errorMsg]="errorMsg"  ></app-toast>
</div>