/* You can add global styles to this file, and also import other style files */
body{
    --secondary-text:#77797a;
    --primary-text:black;
    --bg-color:#d7d7d7;
    --bg-post:white;
    --div-ext:#f0f0f0;
    --post-hover:rgba(0, 0, 0, 0.4);
    --header-text-color:#6c757d;;

}

body.dark-theme{
    --secondary-text:#77797a;
    --primary-text:white;
    --bg-color:#030303;
    --bg-post:#1a1a1b;
    --div-ext:#161617;
    --post-hover:rgba(255, 255, 255, 0.5);
    --header-text-color:#93a0ac;
    
}

.bodybg{
    background-color: var(--bg-color);
}


