<div class="menu-bar">
    <h2 class="logo">Proyecto</h2>
    <ul>
      <li><a id="home_link" [routerLink]="['home']" routerLinkActive="active">Home</a></li>
      <input type="text" placeholder="Search.." id="searchbox"  [(ngModel)]="searchText" value="{{searchText | lowercase }}"  (input)="searchByPostTitle()"  />
      <li *ngIf="!isLogged"><a id="register_link" [routerLink]="['register']"  routerLinkActive="active">Register</a></li>
      <li *ngIf="!isLogged"><a id="login_link" [routerLink]="['login']"   routerLinkActive="active">Log In</a></li>     
      <li *ngIf="isLogged">
          <div ngbDropdown  >
            <a  id="dropdownBasic1" ngbDropdownToggle>{{nickname}}</a>
            <div ngbDropdownMenu  class="custom-dropdown text-colors">
              <h5 class="dropdown-header">User settings</h5>
              <a ngbDropdownItem href="#/user/{{nickname}}" ><h6 class="text-color">Profile</h6></a>
              <a ngbDropdownItem href="#/settings" ><h6>Settings</h6></a>
              <hr class="dropdown-divider">
              <h5 class="dropdown-header">New</h5>
              <a ngbDropdownItem id="create_post" href="#/create_post"><h6>Create Post</h6></a>
              <a ngbDropdownItem id="create_community" href="#/create_community"><h6>Create Community</h6></a>
              <hr class="dropdown-divider">
              <h5 class="dropdown-header">Options</h5>
              <h6 ngbDropdownItem class="d-flex align-items-center">Dark Theme</h6>
              <label class="switch d-flex justify-content-center"><input type="checkbox" (change)="changeTheme($event)" /><span class="slider round"></span></label>
              <h6  ngbDropdownItem id="logout" (click)="logout()" >Log Out</h6>
             
            </div>
          </div>
    </li>
    </ul>
  </div>
